.drag-me {
  font-size: 20px;
  background-color: #64a19d;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid #e6e4e9;
  border-radius: 8px;
}

.elements{
  display: inline-block;
}