/* Coolors Exported Palette - https://coolors.co/0d0f1b-1d333e-296b75-4c9ab0-6eb5cb */

/* CSS HEX */
--rich-black-fogra-29: #0D0F1Bff;
--gunmetal: #1D333Eff;
--ming: #296B75ff;
--blue-green: #4C9AB0ff;
--dark-sky-blue: #6EB5CBff;

/* CSS HSL */
--rich-black-fogra-29: hsla(231, 35%, 8%, 1);
--gunmetal: hsla(200, 36%, 18%, 1);
--ming: hsla(188, 48%, 31%, 1);
--blue-green: hsla(193, 40%, 49%, 1);
--dark-sky-blue: hsla(194, 47%, 61%, 1);

/* SCSS HEX */
$rich-black-fogra-29: #0D0F1Bff;
$gunmetal: #1D333Eff;
$ming: #296B75ff;
$blue-green: #4C9AB0ff;
$dark-sky-blue: #6EB5CBff;

/* SCSS HSL */
$rich-black-fogra-29: hsla(231, 35%, 8%, 1);
$gunmetal: hsla(200, 36%, 18%, 1);
$ming: hsla(188, 48%, 31%, 1);
$blue-green: hsla(193, 40%, 49%, 1);
$dark-sky-blue: hsla(194, 47%, 61%, 1);

/* SCSS RGB */
$rich-black-fogra-29: rgba(13, 15, 27, 1);
$gunmetal: rgba(29, 51, 62, 1);
$ming: rgba(41, 107, 117, 1);
$blue-green: rgba(76, 154, 176, 1);
$dark-sky-blue: rgba(110, 181, 203, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0D0F1Bff, #1D333Eff, #296B75ff, #4C9AB0ff, #6EB5CBff);
$gradient-right: linear-gradient(90deg, #0D0F1Bff, #1D333Eff, #296B75ff, #4C9AB0ff, #6EB5CBff);
$gradient-bottom: linear-gradient(180deg, #0D0F1Bff, #1D333Eff, #296B75ff, #4C9AB0ff, #6EB5CBff);
$gradient-left: linear-gradient(270deg, #0D0F1Bff, #1D333Eff, #296B75ff, #4C9AB0ff, #6EB5CBff);
$gradient-top-right: linear-gradient(45deg, #0D0F1Bff, #1D333Eff, #296B75ff, #4C9AB0ff, #6EB5CBff);
$gradient-bottom-right: linear-gradient(135deg, #0D0F1Bff, #1D333Eff, #296B75ff, #4C9AB0ff, #6EB5CBff);
$gradient-top-left: linear-gradient(225deg, #0D0F1Bff, #1D333Eff, #296B75ff, #4C9AB0ff, #6EB5CBff);
$gradient-bottom-left: linear-gradient(315deg, #0D0F1Bff, #1D333Eff, #296B75ff, #4C9AB0ff, #6EB5CBff);
$gradient-radial: radial-gradient(#0D0F1Bff, #1D333Eff, #296B75ff, #4C9AB0ff, #6EB5CBff);