
/* whole html */
html {
  height: 100%;
  font-family:'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
}

/* the body of html */
body {
  margin: 0;
  padding: 10px;
  min-height: 100%;
  background-image: url('background_mp_crop2.png');
  background-size: cover;
  background-position: center;
}

/* warning only the main page */
section.warning{
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
  align-items: center;
  min-height: 35px;
  border-radius: 5px;
  background-color: #6EB5CBff;
  opacity: 0.9;
}

/* header of the whole page */
header {
  margin-bottom: 5px;
  padding: 10px;
  min-height: 20px;
  border-radius: 5px;
  background-color: #6EB5CBff;
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  align-items: center;
  font-weight: bold;
  text-shadow: 2px 2px 5px #ffffff;
  opacity: 0.9;
}

/* upper grid */
.grid2 {
  display: flex;
  font-size: 16px;
  margin: 0px -10px 0px 0;
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  opacity: 0.9;
}

.grid2 div {
  flex: 0 0 250px;
  margin: 0 10px 5px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #6EB5CBff;
}

.grid2 .box1 {
  flex: 0 1 250px;
}

.grid2 .box2 {
  flex: 1 0 250px;
}

/* lower grid */
.grid1 {
    display: flex;
    font-size: 16px;
    margin: 0px -10px 0px 0;    
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0.9;
    text-align: center;
    justify-content: center;
}

.grid1 div {
    padding: 10px;
    min-height: 35px;
    border-radius: 5px;
    background-color: #6EB5CBff;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid1 .box1 {
    flex: 0 1 300px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.grid1 .box2 {
    flex: 1 0 250px;
    margin-bottom: 5px;
    margin-right: 10px;
}


/* main section without grid */

main {
  flex: 0;
  font-size: 14px;
  background-color: #6EB5CBff;
  margin-bottom: 10px;
  padding: 10px;
  min-height: 35px;
  border-radius: 5px;
  opacity: 0.9;
  height: 900px;
  text-align: center;
}



/* the style of social media icons, adopted from: https://www.w3schools.com/howto/howto_css_social_media_buttons.asp */
.fa {
  padding: 10px;
  font-size: 10px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 5px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

/* the footer of all pages */

footer {
  margin-top: 2.5px;
  padding: 4px;
  min-height: 20px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
  opacity: 0.9;
}